@import url('/assets.css');
@import url('/css/grid.module.css');
@import url('/css/formulabar.module.css');
@import url('/css/nav.module.css');
@import url('/css/menu.module.css');
@import url('/css/toolbar.module.css');
@import url('/css/cell.module.css');
@import url('/css/sheetbar.module.css');

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color-2);
    overflow: hidden;
    margin:0;
    padding:0;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100vh;
    position: relative;
}

.font-family-selector {
    width: 150px;
    font-family: 'Montserrat', sans-serif;
}

.selector {
    height: 30px;
    font-size: 18px;
}

.selector option {
    font-size: 18px;
}




.spacer{
    margin-bottom: 50%; 
  }



.column-name {
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
    font-weight: bold;
}

.row-name {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
}

.cell-row {
    display: flex;
}

.input-cell {
    min-width: 100px;
    min-height: 25px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    outline-color: var(--darkest);;
    font-size: 14px;
    font-family: 'Noto Sans';
}

.input-cell.selected {
    border: 2px solid var(--darkest);;
}


.selected-cell {
    width: 120px;
}

.function-sign {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.input-cell.top-cell-selected {
    border-top: none;
}

.input-cell.bottom-cell-selected {
    border-bottom: 1px solid lightgray;
}

.input-cell.right-cell-selected {
    border-right: 1px solid lightgray;
}

.input-cell.left-cell-selected {
    border-left: none;
}

.color-picker {
    position: absolute;
    width: 26px;
    height: 12px;
    border: none;
    padding: 0;
    top: 30px;
    left: 9px;
    cursor: pointer;
}

.icon-color-fill, .icon-color-text {
    position: relative;
}

.sheet-options-modal {
    position: absolute;
    bottom: 4vh;
    background-color: #fff;
    height: 60px;
    width: 70px;
    box-shadow: 0 0 3px 1px lightgray;
}

.sheet-rename,.sheet-delete {
    height: 30px;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheet-delete:hover, .sheet-rename:hover {
    background-color: lightgray;
    cursor: pointer;
}

.sheet-rename-modal {
    position: absolute;
    height: 180px;
    width: 300px;
    top: calc(100vh / 2 - 90px);
    left: calc(100vw / 2 - 150px);
    background-color: white;
    text-align: center;
    box-shadow: 0 0 3px 1px lightgray;
}

.action-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-title {
    font-size: 20px;
}

.new-sheet-name {
    height: 26px;
    font-size: 18px;
    outline-color: var(--darkest);;
}

.submit-button {
    cursor: pointer;
    background-color: var(--darkest);;
    color: white;
    padding: 8px;
}

.cancel-button {
    cursor: pointer;
    background-color: lightgray;
    padding: 8px;
}

